.popup {
  width: 80%;
  position: absolute;
  opacity: 0%;
  top: -400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 0, 53, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  animation: popupAnimation 5s ease-in-out;
}

@keyframes popupAnimation {
  0% {
    top: -400px;
  }
  15%, 19% {
    top: 20px;
  }
  17%, 21% {
    top: 17px;
  }
  22%, 85% {
    top: 20px;
    opacity: 100%;
  }
  100% {
    top: 20px;
    opacity: 0%;
    display: none;
  }
}